<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прогноз погоды</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    <div class="background-gradient"></div>
    <div class="container">
        <button class="back-button" onclick="window.location.href='/'">Назад</button>
        <h1>Прогноз погоды</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <input
                    type="text"
                    id="id_city"
                    name="city"
                    placeholder="Введите город"
                    autocomplete="off"
                >
                <button type="submit" class="get-weather-button">
                    <i class="fas fa-search"></i>
                </button>
                <button type="button" class="get-location-button" title="Определить местоположение">
                    <i class="fas fa-location-arrow"></i>
                </button>
                <div id="suggestions"></div>
            </div>
        </form>

        {% if weather_data %}
            <div class="weather-info current-weather-info">
                {% if weather_data.error %}
                    <p class="error-message">{{ weather_data.error }}</p>
                {% else %}
                    <div class="current-weather-header">
                        <h2>Текущая погода</h2>
                        <div class="weather-icon">
                            {% if weather_data.current.temperature > 20 %}
                                <i class="fas fa-sun"></i>
                            {% elif weather_data.current.temperature > 10 %}
                                <i class="fas fa-cloud-sun"></i>
                            {% else %}
                                <i class="fas fa-cloud"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="weather-metrics">
                        <p class="weather-metric"><i class="fas fa-temperature-high"></i> Температура: {{ weather_data.current.temperature }} °C</p>
                        <p class="weather-metric"><i class="fas fa-cloud-rain"></i> Осадки: {{ weather_data.current.rain }} мм</p>
                        <p class="weather-metric"><i class="fas fa-wind"></i> Скорость ветра: {{ weather_data.current.wind_speed }} км/ч</p>
                    </div>

                    <h2 class="forecast-header">Прогноз на 7 дней</h2>
                    <div class="forecast-container">
                        {% for day in weather_data.daily %}
                            <div class="forecast-day">
                                <div class="date">{{ day.date }}</div>
                                <div class="day-weather-metrics">
                                    <span class="weather-metric"><i class="fas fa-temperature-high"></i> Макс: {{ day.max_temp }} °C</span>
                                    <span class="weather-metric"><i class="fas fa-temperature-low"></i> Мин: {{ day.min_temp }} °C</span>
                                    <span class="weather-metric"><i class="fas fa-umbrella"></i> Дождь: {{ day.precipitation_probability_max }}%</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if search_history %}
            <div class="search-history">
                <div class="search-history-header">
                    <h2>Недавние города</h2>
                    <button class="clear-history-button" id="clear-history-button" title="Очистить историю">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div class="card-container">
                    {% for city in search_history %}
                        <a class="card" href="?selected_city={{ city }}">
                            <i class="fas fa-map-marker-alt"></i> {{ city }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <script>
        function clearHistory() {
            $.post('{% url "index" %}', {clear_history: 'true', csrfmiddlewaretoken: '{{ csrf_token }}'}, function() {
                location.reload();
            });
        }

        document.getElementById('clear-history-button').addEventListener('click', function() {
            if (confirm('Вы уверены, что хотите очистить историю поиска?')) {
                clearHistory();
            }
        });
    </script>
</body>
</html>